@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

* {
    margin: 0;
}

header {
    text-align: center;
    padding: 30px 0;
    background-color: #000000;
}

header > h1 {
    font-family: 'Passion One', sans-serif;
    font-variant: small-caps;
    font-size: 8vw;
    color: #ffffff;
}

header p, a {
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

header a {
    text-decoration: none;
    font-weight: 900;
    transition-duration: 0.5s;
}

header a:hover {
    padding: 0 5px;
    background-color: #d3d3d3;
    color: #000000;
    border-radius: 10px;
}

section {
    padding: 10vh 0;
    line-height: 5vw;
    font-family: 'Sriracha', cursive;
}


section > p {
    padding: 1em 40px;
    max-width: max-content;
    font-size: 3vw;
    text-shadow: 1px 1px 3px #00000080;
}

section.imagem > p {
    background-color: #00000080;
    text-shadow: 2px 2px 3px #ffffff70;
}

section.imagem {
    box-shadow: inset 0 0 35px #000000cc;
    background-color: #000000;
    color: #ffffff;
    background-size: cover;
}

section#joaninha {
    background: #000000 url(imagens/background001.jpg) center fixed;
}

section#livro {
    background: #000000 url(imagens/background002.jpg) right center fixed;
}

footer {
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
}